* {
  /* overflow-y: scroll; */
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}

#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  background-color: white;
  color: #333;
}
